.ac {
  position: relative;
}
.ac-list {
  position: absolute;
  overflow-x: clip;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-bottom: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 216px;
  color: #e0e0e0;
}
.ac-list li {
  padding: 10px;
  cursor: pointer;
  background-color: #1c3252; /* default dark mode */
  border-bottom: 1px solid #112440; /* default dark mode */
  list-style-type: none;
}
.ac-list li:hover {
  background-color: #1d2b44; /* default dark mode */
}
.ac-list li div {
  position: relative;
  align-content: center;
}
.ac-list li.ac-active {
  background-color: #3066b3; /* default dark mode */
}
.text-div {
  float: left;
  color: inherit;
}
.number-div {
  float: right;
  color: inherit;
}
.hidden {
  display: none;
}

body[data-theme="red"] .ac-list li {
  background-color: #5e2727;
  border-bottom-color: #7a2d2d;
}

body[data-theme="red"] .ac-list li:hover {
  background-color: #7a2d2d;
}

body[data-theme="red"] .ac-list li.ac-active {
  background-color: #c33939;
}

body[data-theme="default"] .ac-list li {
  background-color: #62a7d9;
  border-bottom-color: #e2ebf2;
  color: #fff;
}

body[data-theme="default"] .ac-list li:hover {
  background-color: #3d92d0;
}

body[data-theme="default"] .ac-list li.ac-active {
  background-color: #1796e8;
}