body {
    background: #1e1f22;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

* {
    color: #ffffff;
    font-size: 16px;
}

#main {
    vertical-align: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item {
    margin: 5px 10px;
    border: 5px solid #2b2d30;
    background-color: #2b2d30;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    margin: 5px;
}

.divButton, .divButton * {
    transition: background 0.3s ease;
    cursor: pointer;
}

.divButton:hover {
  background: #3d3f42;
}

.divButton:active {
    background: #4c4d53;
    transition: background 0.1s ease;
}

label {
    background: none;
}


.hidden {
    display: none;
}