.ac {
    position: relative;
}

.ac-list {
    --fallback-field-header-color: #1c3252;
    --fallback-header-color: #3a629c;

    position: absolute;
    overflow-x: clip;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightgray transparent;
    scroll-behavior: smooth;
    border-bottom: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: calc(36px * var(--count, 6));
    color: var(--text-light-color);

    display: flex;
    flex-direction: column;
    row-gap: 1px;
    background-color: color-mix(in srgb-linear, var(--header-field-color, var(--fallback-field-header-color)) 65%, black);

    &, * {
        transition: 50ms ease-in-out;
    }

    li {
        padding: 10px;
        cursor: pointer;
        list-style-type: none;

        div {
            position: relative;
            align-content: center;
        }

        background-color: var(--header-field-color, var(--fallback-field-header-color));

        @media (hover: hover) {
            &:hover {
                background-color: color-mix(in srgb-linear, var(--header-field-color, var(--fallback-field-header-color)) 75%, black);
            }
        }

        &.ac-active {
            background-color: var(--header-color, var(--fallback-header-color));
            filter: saturate(140%);
        }
    }

    .text-div {
        float: left;
        color: inherit;
    }

    .number-div {
        float: right;
        color: inherit;
    }

    &.hidden {
        display: none;
    }
}